<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Details</title>
</head>
<body>
    <br>
    <br>
    <hr>
    <br>
    <h1>Author №{{author.id}} Details: </h1>
    <br>
    <h2>Id: {{author.id}}</h2>
    <h2>Name: {{author.name}}</h2>
    <h2>Birth Year: {{author.birth_year}}</h2>
    <h2>Alive: {{author.alive}}</h2>
    <h2>Number of books: {{author.num_of_books}}</h2>
    <br>   
    <h1></h1>
</body>
</html>