<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <br>
    <br>
    <hr>
    <br>
    <h1>Book №{{book.id}} Details: </h1>
    <br>
    <h2>Id: {{book.id}}</h2>
    <h2>Name: {{book.name}}</h2>
    <h2>Genre: {{book.genre}}</h2>
    <h2>Author: {{book.author}}</h2>
    <h2>Pages: {{book.pages}}</h2>
    <br>   
    <h1></h1>
</body>
</html>