<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <br>
    <br>
    <br>
    <hr>
    <h1>Main Page</h1>
    <br>
    <br>
    <br>
    <hr>
    <br>
    {% if auth %}
    <h2 style="color: green;">You are logged in</h2>
    <a href="/logout/"><button>Log out</button></a> <br> <br>
    {% else %}
    <a href="/signup/"><button>Sign up</button></a> 
    <a href="/login/"><button>Log in</button></a> <br> <br>
    {% endif %}
    
    
</body>
</html>