<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <br>
    <br>
    <hr>
    <br>
    <form method="post" action="/program_edit/{{program.id}}/">{% csrf_token %}
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" value="{{program.name}}"><br>
        <label for="degree">Active: </label>
        {% if program.active == True %}
        <input type="checkbox" name="active" checked> <br>
        {% else %}
        <input type="checkbox" name="active"> <br>
        {% endif %}
        <button type="submit">Edit</button>
    </form>
    <br>   
    <h1></h1>
</body>
</html>