<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Details</title>
</head>
<body>
    <br>
    <br>
    <hr>
    <br>
    <h1>Record №{{record.id}} Details: </h1>
    <br>
    <h2>Record Id: {{record.id}}</h2>
    <h2>Student: {{record.student}}</h2>
    <h2>Book: {{record.book}}</h2>
    <h2>Took Date: {{record.took_date}}</h2>
    <h2>Returned Date: {{record.returned_date}}</h2>
    <br>   
    <h1></h1>
</body>
</html>