<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <br>
    <br>
    <hr>
    <br>
    <h1>Student №{{std.id}} Details: </h1>
    <br>
    <h2>Id: {{std.id}}</h2>
    <h2>Name: {{std.name}}</h2>
    <h2>Gender: {{std.gender}}</h2>
    <h2>Senior: {{std.senior}}</h2>
    <h2>Number of Books: {{std.num_of_books}}</h2>
    <br>   
    <h1></h1>
</body>
</html>